@page "/"

<PageTitle>Home</PageTitle>

<style>
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        color: #0275d8;
        text-align: center;
    }

    .description {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 20px;
    }
</style>

<div class="container">
    <h1>Hi!</h1>
    <p class="description">
        Aplikacja webowa - GraphiCall, zawiera w sobie kalendarz, chat, komponent notatek,
        komponent planowania budżetu i whiteboard. Aplikacja została napisana z wykorzystaniem
        .NET 8.0, Blazor, JavaScript, CSS oraz Azure, oferując zaawansowane funkcje i
        interaktywne środowisko użytkownika dla efektywnego zarządzania projektami i komunikacji.
    </p>
</div>
